@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* *{
  transition-duration: 7000ms;
} */
/* .datetime-input::placeholder {
  color: gray;
} */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Set the color of the scrollbar thumb */
  border-radius: 5px;
  transition-duration: 500ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Set the color when hovering over the thumb */
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #F5F5F5;
  font-size: 14px;
}
.chat-me::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -25px;
  transform: translateX(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* border-bottom: 20px solid #DEDEDE; */
  border-left: 20px solid #DEDEDE;
}
.chat-you::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: -5px;
  transform: translateX(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* border-bottom: 20px solid #DEDEDE; */
  border-right: 20px solid white;
}
.rotate{
  animation: rotation 1000ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pagination-conatiner{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.pagination-page,.pagination-disable{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #D3D3D3;
  width: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition-duration: 500ms;
}
.pagination-page:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #D3D3D3;
  background-color: rgb(202, 202, 202);
  width: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition-duration: 500ms;
}
.pagination-active{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A9A9A9;
  color: white;
  border: 1px solid;
  border-color: #D3D3D3;
  width: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition-duration: 500ms;
}
/* table{
  min-height: 500px;
} */